<form [formGroup]="formQuery" (submit)="applyFilter()">
  <!-- Customer name -->
  <mat-form-field>
    <mat-label>Search customer name</mat-label>
    <input matInput type="text" formControlName="customerName" />
  </mat-form-field>

  <!--Min Price -->
  <mat-form-field>
    <mat-label>Min price</mat-label>
    <input matInput type="number" formControlName="minTotal" />
  </mat-form-field>

  <!--Min Price -->
  <mat-form-field>
    <mat-label>Max price</mat-label>
    <input matInput type="number" formControlName="maxTotal" />
  </mat-form-field>

  <!-- Order Status -->
  <mat-form-field>
    <mat-label>Order Status</mat-label>
    <mat-select formControlName="orderStatus">
      <mat-option value="PENDING">Pending</mat-option>
      <mat-option value="SUCCESS">Success</mat-option>
      <mat-option value="FAILED">Failed</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Payment Status -->
  <mat-form-field>
    <mat-label>Payment Status</mat-label>
    <mat-select formControlName="paymentStatus">
      <mat-option value="PENDING">Pending</mat-option>
      <mat-option value="SUCCESS">Success</mat-option>
      <mat-option value="FAILED">Failed</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date -->
  <mat-form-field>
    <mat-label>Date picker</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="createFrom"
      />
      <input matEndDate placeholder="End date" formControlName="createTo" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button mat-raised-button type="submit">
    <mat-icon>favorite</mat-icon>
    Filter
  </button>

  <button mat-button type="button" (click)="clearFilter()">
    <mat-icon>favorite</mat-icon>
    Clear
  </button>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.orderId }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.customerName }}</td>
    </ng-container>

    <!-- Order Status -->
    <ng-container matColumnDef="order_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
      <td mat-cell *matCellDef="let row">
        {{ row.orderStatus }}
      </td>
    </ng-container>

    <!-- Shipment Status -->
    <ng-container matColumnDef="shipment_status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Shipment Status</th>
      <td mat-cell *matCellDef="let row">{{ row.shipmentStatus }}</td>
    </ng-container>

    <!-- Total -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let row">{{ row.total | currency : 'VND' }}</td>
    </ng-container>

    <!-- Created At -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let row">{{ row.createAt | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr> -->
  </table>

  <mat-paginator
    [pageSizeOptions]="[25, 50, 100, 200]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
